<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--org.apache.ibatis.session.Configuration-->
    <settings>
        <!-- logImpl 属性配置指定使用 LOG4J 输出日志 -->
        <setting name="logImpl" value="LOG4J"/>
        <!-- 可以自动将以下画线方式命名的数据库列映射到 Java 对象的驼峰式命名属性中。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 当该参数设置为 true 时，对任意延迟属性的调用会使带有延迟 载属性的对象完整加载反之，每种属性都将按需加载。 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--二级缓存在SqlSessionFactory 默认是打开的-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <!-- 配置了一个包的别名，在使用类的时候不需要写包名的部分，只使用 Country 即可。-->
        <package name="tk.mybatis.simple.model"/>
    </typeAliases>

    <typeHandlers>
        <!-- <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="tk.mybatis.simple.type.Enable"/> -->
        <typeHandler handler="tk.mybatis.simple.type.EnableTypeHandler" javaType="tk.mybatis.simple.type.Enable"/>
<!--        <typeHandler handler="tk.mybatis.simple.type.EncryptStringTypeHandler"/>-->
<!--        <typeHandler handler="tk.mybatis.simple.type.EncryptTypeHandler"/>-->
    </typeHandlers>

    <!--environment-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="tk.mybatis.simple.mapper"/>
        <!--<mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/UserMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/RoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/UserRoleMapper.xml"/>
        <mapper resource="tk/mybatis/simple/mapper/ RolePrivilegeMapper.xml"/>-->
    </mappers>
</configuration>
